---
layout: default
excerpt_separator: <!--more-->
---

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="header-logo">
                    <img src="img/logo.png" alt="">
                </div>
                    <hr class="small">
                <div class="site-heading">
                    <!-- <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1> -->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Mission -->


<div class="row mission">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2>Our Mission</h2>
        <p>make.br is dedicated to growing and developing the Maker Movement in Baton Rouge and surrounding areas. Our goal is to be an open community of enthusiastic multi-disciplinary 'makers' and 'hackers' seeking to share, teach, learn, experiment, build, and even destroy. We are coming together to explore the crafts and technology that fascinate us.</p>

        <p>We are banding together not only to enable DIY culture, but also DIT (Do-It-Together) culture. We will seek to organize "makerspaces" and in time give back to the community through education and innovation.</p>

        <p>Be sure to follow us on social media, join our meetup group to find out when our next get together is and checkout our coummunity Slack so you can get in on the conversations happening within make.br!</p>
    </div>
</div>


<div class="row community">
    <div class="col-lg-4 col-lg-offset-2">
        <h3>Slack</h3>
        <p>Slack is our primary communication tool! Feel free to ask questions and participate in real time!</p>
        <a href="https://makebr-invite.herokuapp.com/"target="_blank"><button>Join Slack</button></a>
    </div>
    <div class="col-lg-4 ">
        <h3>Meetup</h3>
        <p>Want to learn a skill or meet local Makers? Meetup.com is where we list all of our current events!</p>
        <a href="http://www.meetup.com/make-br/" target="_blank"><button>Join Meetup</button></a>
    </div>
</div>


<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
